---
---

// @import "{{ site.theme }}";

// __center image for in-post graphics__
.center-image {
  display: block;
  margin: 0 auto;
}
// __images with 300px width for in-post graphics__
.image-300 {
  width: 300px;
}
// __images with 500px width for in-post graphics__
.image-500 {
  width: 500px;
}
