---
---

@import "{{ site.theme }}";

.custom-center {
  display: block;
  margin: 0 auto;
  max-width: 100%; /* Prevents overflow */
  height: auto;    /* Maintains aspect ratio */
  max-width: 300;
}

